.venv/
uv.lock
__pycache__
data/
!frontend/src/data/
!frontend/src/data/**
node_modules/
backend/documents/
dist/
build/
.vscode/
*.log
*.pyc
*.pyo
*.pyd
*.*env
*.*zip
*.*txt
*.md
zetwerk-main/
.agents/
.codex/
